pkgbase = fontfinder
	pkgdesc = A Google font browser for your GTK desktop, written in Rust
	pkgver = 1.4.1
	pkgrel = 1
	url = https://gitlab.com/mmstick/fontfinder
	arch = x86_64
	license = MIT
	makedepends = rust
	depends = webkit2gtk
	depends = openssl-1.0
	provides = fontfinder
	options = !emptydirs
	source = fontfinder-1.4.1.tar.gz::https://gitlab.com/mmstick/fontfinder/-/archive/1.4.1/fontfinder-1.4.1.tar.gz
	sha512sums = 5684fde581d80db49f93652992b7aca63560f50d4ac35e4e7c017bed1b9da70feb16313aa3ee6d29f2f1fd02b8b5ca96920336a7341e800f852afe543b8821a1

pkgname = fontfinder
